.logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: url('../img/Logo_revou.png');
    background-size: cover;
}
.main-header {
    background-color: rgb(51, 51, 201);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gambar{
    width: 360px;
    height: 360px;
    background: no-repeat;
    background-size: cover;
    background-image: url('https://png.pngtree.com/template/20190626/ourmid/pngtree-property-and-construction-logo-design-image_220093.jpg');
}
.background{
    width: 100%;
    height: 100%;
    background: no-repeat;
    background-size: cover;
    background-image: url('https://www.resolutionlawng.com/wp-content/uploads/2020/09/group-of-company-img-1.jpeg');
}
.lokasi{
    background-color: red;
    width: 100px;
    height: 100px;
    justify-content: end;
}
button:hover{
    background-color: blue;
    cursor: pointer;
}
html {
  scroll-behavior: smooth;
}
nav a {
  transition: background-color 0.2s ease;
}
nav a:hover {
  background-color: lightgray;
}