.logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: url('../img/Logo_revou.png');
    background-size: cover;
    
}
.main-header {
    background-color: rgba(113, 75, 36);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gambar{
    width: 360px;
    height: 360px;
    background: no-repeat;
    background-size: cover;
    background-image: url('../img/cofeee.jpg');
}
.background{
    width: 100%;
    height: 100%;
    background: no-repeat;
    background-size: cover;
    background-image: url('../img/background_coffee.avif');
}
h2{
    color: rgb(168, 101, 33);
}